@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<br />
<html>
	<style>
	.center 
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}	
	div
	{
		//background-color: #0099ff;
		//border: 1px solid grey;
		width: auto;
		margin: auto;	
		border-radius: 10px;
		padding: 10px;
		padding-bottom:50px;
	}
	div.first
	{
		background-color: #ffcc66;
		padding-top: 50px;
	}
	div.second
	{
		background-color: #cc99ff;
		padding-top: 50px;
	}
	</style>

	<head>
		<title>About Us</title>
		<link rel="stylesheet" href="style.css">
	</head>
		
	<body>
		<h1 style="border: 1px solid violet; text-align:center;">About us</h1>
		<hr style="width: 500px;">
		<hr style="width: 500px;">
	</body>
	<!--
	<a href="index.html" style="padding-left:680px;">&lt Go back to Home</a>
    -->
	<br><br>
	
	<div>
		<p style="color: black; font-size: 50px; padding-left: 200px">
			<strong>Channging How<br></strong>
			<strong>India invest</strong>
		</p>
		<p style="text-align: justify; color:black; padding-left: 190px; font-size:20px">
			&nbsp &nbsp smallcase is a fintech company building a trusted <br>financial 
			ecosystem with advisors, brokers and <br>other market participants for the 
			investor.<br><br>
			&nbsp &nbsp Our products are used everyday across the <br>Indian capital markets landscape 
			by the most <br>respected brands to provide delightful customer <br>experiences.
		</p>
		<a  style="padding-left:190px; color:white; font-size:15px;"
			href="https://www.smallcase.com/smallcase-for-businesses" 
			target="blank">
			Look into the smallcase ecosystem >
		</a>
	</div>
	<br><br>
	<head>
		<h1 style="text-align: center;">Our Story</h1>
	</head>
	<p style="text-align: center; font-size:20px" >&nbsp &nbsp Founded in July 2015 by three IIT Kharagpur graduates, smallcase was started to 
	<br>introduce a new generation of investors to the Indian equity markets using technology
	</p>
	
	<br><br>
	<div class="first" >
	<table border="1" width="100%" cellspacing=2 cellpadding=2 >
		<tbody>
			<tr>
				<td  style="padding:20px; text-align:center; font-size: 20px;">Launched in <br><b>2016</b></td>
				<td  style="padding:20px; text-align:center; font-size: 20px;">Team <br><b>200+</b></td>
				<td  style="padding:20px; text-align:center; font-size: 20px;">Amount Transacted <br><b>Rs12500+ Cr</b></td>
				<td  style="padding:20px; text-align:center; font-size: 20px;">Smallcase Curated <br><b>250+</b></td>
			</tr>	
		</tbody>		
	</table>
	</div>
		
</html>
